
@using My_cv.Models.Entity
@model List<Table_skills>

<link rel="stylesheet" href="~/startbootstrap-resume-gh-pages/css/icons.css" />
<div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <div class="subheading mb-3">Veritabanları</div>
    <ul class="list-inline dev-icons">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Data_Base/mssql.svg" width="50" height="50" alt="SVG file">
    </ul>
    <br />
    <div class="subheading mb-3">Programlama Dilleri</div>
    <span class="icon-bash"> </span>
    <ul class="list-inline dev-icons">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Programming_Languages/c.svg" width="50" height="50" alt="SVG file">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Programming_Languages/cs.svg" width="50" height="50" alt="SVG file">
    </ul>
    <br />
    <span class="icon-bash"> </span>
    <div class="subheading mb-3">Araçlar</div>
    <span class="icon-bash"> </span>
    <ul class="list-inline dev-icons">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Tools/bash.svg" width="50" height="50" alt="SVG file">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Tools/docker.svg" width="50" height="50" alt="SVG file">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Tools/dotnet.svg" width="50" height="50" alt="SVG file">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Tools/git.svg" width="50" height="50" alt="SVG file">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Tools/vs.svg" width="50" height="50" alt="SVG file">
        <img src="../startbootstrap-resume-gh-pages/assets/img/images/Tools/vscode.svg" width="50" height="50" alt="SVG file">
    </ul>
</div>